@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "sass:string";

@use "zoetrope:geometry" as *;
@use "zoetrope:metadata" with (
 $title: "spectrum",
);

$e: xy(10, 20);
@debug $e;

html {
 overflow: hidden;
 background: #111;
}

$w: 100vmin;
$r: 4vmin;

body {
 margin: 0;
 width: 100vmin;
 height: 100vmin;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: darkslategray;
}

$half: math.div($w, $r) * 2;
$center: xy($half, $half);
$shadow: (string.unquote("#{$r} #{$r} 0vmin #FFCCAA"));
$circle: circle($center, 32);

@for $c from 1 through length($circle) {
 @if ($c % 5 == 0) {
  $p: nth($circle, $c);
  $s: "#{x($p) * 1vmin} #{y($p) * 1vmin} 0vmin red";
  $s: string.unquote($s);
  $shadow: join(
    $shadow,
    $s,
    $separator: comma
  );
 }
}

@debug $circle;

body::after {
 background: white;
 box-shadow: $shadow; 
 content: "";
 position: absolute;
 top: 0 - $r;
 left: 0 - $r;
 height: $r;
 width: $r;
 border-radius: 50%;
}
